<h1>ErrorType Information</h1>
<div id="profileDiv" *ngIf="globalErros$ != null" [formGroup]="errorTypes">
  <div *ngIf="selectedError$ | async as errorObj">
  </div>
<p-panel header="ErrorType Information" *ngIf="selectedError$ | async; let error;">
  <div class="ui-grid-row">
    <div class="ui-grid-col-4">
      New Id:
      <span class="text-danger">*</span>
    </div>
    <div class="ui-grid-col-5">
      <input type="text" formControlName="id" [(ngModel)]="error.Id" placeholder="Required" [maxlength]="50" />
    </div>
    <div class="ui-grid-col-3">
      <div class="ui-message ui-message-error ui-corner-all" *ngIf="!errorTypes.controls['id'].valid && errorTypes.controls['id'].dirty">
        <i class="fa fa-close"></i> Id is required
      </div>
    </div>
  </div>
  <div class="ui-grid-row">
    <div class="ui-grid-col-4">
      New Message:
      <span class="text-danger">*</span>
    </div>
    <div class="ui-grid-col-5">
      <input type="text" formControlName="message" [(ngModel)]="error.Message" placeholder="Required" [maxlength]="50" />
    </div>
    <div class="ui-grid-col-3">
      <div class="ui-message ui-message-error ui-corner-all" *ngIf="!errorTypes.controls['message'].valid && errorTypes.controls['message'].dirty">
        <i class="fa fa-close"></i> Message is required
      </div>
    </div>
  </div>
  <div class="ui-grid-row">
    <div class="ui-grid-col-4">
      New Type:
      <span class="text-danger">*</span>
    </div>
    <div class="ui-grid-col-5">
      <input type="text" formControlName="type" [(ngModel)]="error.Type" placeholder="Required" [maxlength]="50" />
    </div>
    <div class="ui-grid-col-3">
      <div class="ui-message ui-message-error ui-corner-all" *ngIf="!errorTypes.controls['type'].valid && errorTypes.controls['type'].dirty">
        <i class="fa fa-close"></i> Type is required
      </div>
    </div>
  </div>
  <div class="ui-grid-col-12">
    <button pButton id="btn_desloc_cmp_search_1" type="submit" (click)="onSave(error)" class="btn-single-width" icon="fa fa-search"
      title="Save" label="Save"></button>
    <button pButton id="btn_desloc_cmp_cancel_1" type="button" (click)=" onBack()" class="btn btn-single-width" icon="fa fa-home"
      title="Back" label="Back"></button>
  </div>
</p-panel>
</div>